* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background: #000000;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.all {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
    border: 10px groove rgb(106, 119, 106);
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    background: rgb(5, 188, 224, 0.8);
    outline: 1px groove white;
    height: fit-content;
}

.dradro {
    display: grid;
    border: 10px groove rgb(4, 109, 34);
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 30px;
    align-self: center;
}

.dradro > div {
    display: grid;
    grid-auto-flow: column;
    background: rgb(81, 70, 8);
    width: fit-content;
    height: fit-content;
}
.dradro > div > div {
    border: 2px groove rgb(4, 61, 61);
    width: 45px;
    height: 45px;
}

.sq {
    border: 1px solid rgb(0, 0, 0, 0.02);
}

#missed{
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background: red;
    transform: translate(-50%, -50%);
}
#get {
    width: 31px;
    height: 31px;
    position: relative;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background: rgb(248, 229, 10);
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 17px 3px rgb(255, 200, 0);
}
.sq:hover {
    background: rgb(5, 237, 237);
}
.enemy {
    user-select: none;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
}

#game-name {
    color: rgb(2, 15, 13);
    font-size: 60px;
    -webkit-text-stroke: 1.5px aqua;
}
#welcom {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: aqua;
    -webkit-text-stroke: 1.5px rgb(15, 59, 59);
}

#trigger, .goto, #play-again {
    height: fit-content;
    width: fit-content;
    background: aqua;
    color: rgb(24, 243, 255);
    font-size: 28px;
    border-radius: 20px;
    border: 1px rgb(2, 183, 150) groove;
    padding: 10px;
    align-self: center;
    font-weight: 1000;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}
#trigger:active, .goto:active {
    background: #b39c28;
}
.main-board {
    display: none;
    margin: 20px;
    flex-direction: column;
    gap: 20px;
}

.preferences {
    align-self: center;
}
select {
    height: 40px;
    font-size: 20px;
    padding: 5px;
    color: rgb(19, 175, 37);
    background: black;
    border: none;
    border: 1px solid rgb(36, 56, 8);
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.fields {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.game-field {
    display: none;
    flex-direction: column;

}
.notice {
    align-self: center;
    margin: 15px;
    height: 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 10px groove rgb(0, 0, 255, 0.5);
    padding: 30px;
    color: rgb(255, 204, 204);
    font-size: 20px;
    color: greenyellow;
}
dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.7);
}

li {
    list-style-type: circle;
}
.infos {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-right: 100px;
}

#play-again {
    align-self: center;
    margin-top: -10px;
    padding: 7px;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: -20px;
    float: right;
}
#play-again:hover {
    background: rgb(68, 148, 148);
}
#play-again:active {
    background: rgb(0, 39, 39);
}

.dp {
    font-size: 10px;
     background: darkblue;

}
sup {
    font-size: 10px;
}
h1 {
    margin-bottom: 25px;
}